/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;  /* Make the body fill the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container (holds both parts) */
.main-container {
    display: flex;
    width: 100vw;           /* Make the container fill the full width of the viewport */
    height: 100vh;          /* Make the container fill the full height of the viewport */
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left part styling (Logo and text) */
.left-part {
    flex: 1;
    background-image:linear-gradient(#55d555 , #04AA6D);    
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position-anchor: 50px 100px;
    
}

.logo {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}

.left-part h1 {
    font-size: 28px; /* Increased font size to make it stand out */
    margin-bottom: 20px;
}

.left-part p {
    color: #023047;
    font-weight: bolder;
    font-size: 18px;
    width: 500px;
    line-height: 1.5;
}

/* Right part styling (Login form) */
.right-part {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* Form container */
.form-container {
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form input styling */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px; /* Increased padding for larger input fields */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit button */
input[type="submit"] {
    width: 100%;
    padding: 15px; /* Increased padding for a larger button */
    background-color:  #04AA6D;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
}

input[type="submit"]:hover {
    background-color: #109263;
}

/* Sign-up link */
.signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.signup-link a {
    color: #04AA6D;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
